<div class="forgot-wrapper">

  <div class="forgot-card">

    <div class="text-center mb-4">
      <img src="assets/logo-sagem.png" alt="Sagemcom" style="height: 60px;">
      <h2>Mot de passe oublié ?</h2>
      <p>
        Entrez votre adresse email pour recevoir un lien de réinitialisation.
      </p>
    </div>

    <!-- Message succès -->
    <div class="alert alert-success" *ngIf="message">
      <i class="bi bi-check-circle-fill me-2"></i>
      {{ message }}
    </div>

    <!-- Message erreur -->
    <div class="alert alert-danger" *ngIf="erreur">
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      {{ erreur }}
    </div>

    <!-- Formulaire -->
    <form (ngSubmit)="onSubmit()" #form="ngForm">

      <div class="mb-4">
        <label for="email" class="form-label">
          Adresse Email
        </label>

        <div class="input-box">
          <i class="bi bi-envelope-fill"></i>

          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            [(ngModel)]="email"
            placeholder="prenom.nom@sagemcom.com"
            required>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!form.valid || enChargement">

        <span
          *ngIf="enChargement"
          class="spinner-border spinner-border-sm me-2">
        </span>

        {{ enChargement ? 'Envoi en cours...' : 'Envoyer le lien' }}

      </button>

    </form>

    <!-- Retour -->
    <div class="text-center mt-4" >
      <a href="/login" class="text-decoration-none small text-muted"><i class="bi bi-arrow-left me-1"></i>Retour à la connexion</a>
    </div>


  </div>

</div>