<div class="container mt-5">
  <h2>Créer un nouveau mot de passe</h2>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group mb-3">
      <label for="nouveauMotDePasse">Nouveau mot de passe</label>
      <input type="password" class="form-control" id="nouveauMotDePasse" [(ngModel)]="nouveauMotDePasse" name="nouveauMotDePasse" required minlength="6">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!form.valid">
      Valider le nouveau mot de passe
    </button>
  </form>

  <div class="alert alert-success mt-3" *ngIf="message">{{ message }} <br> Redirection en cours...</div>
  <div class="alert alert-danger mt-3" *ngIf="erreur">{{ erreur }}</div>
</div>